/* Other rules */

body {
  font-family: "Roboto", sans-serif;
}

/* .container {
  width: 1200px;
  margin: 0 auto;
} */

.top {
  border-bottom: 1px solid rgb(233, 235, 235);
}
.top-bar {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 155px;
  height: 42px;
}

.restaurant {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.restaurant-infos {
  height: 60px;
  padding-right: 40px;
  padding-top: 20px;
}

.restaurant-text {
  font-size: 1.2rem;
  color: #868a8a;
  margin: 20px 0;
  line-height: 1.8rem;
}

.restaurant-img {
  width: 350px;
  height: 198px;
  border-radius: 6px;
}

.content {
  background-color: #f3f5f5;
}

.content-sub {
  display: flex;
  width: 1200px;
  margin: 30px auto;
}

.categories {
  flex: 2.8;
  display: flex;
  flex-direction: column;
}

.basket {
  flex: 1;
  padding: 20px 0;
  height: 100%;
}

.category {
  padding: 20px 0;
}

.meals {
  display: flex;
  flex-wrap: wrap;
}

.meal {
  background-color: white;
  width: calc(45%);
  margin: 30px 30px 30px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.meal:hover {
  box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
}

.meal h3 {
  font-weight: 400;
  margin-bottom: 6px;
  color: #2e3333;
}

.meal-content {
  display: flex;
  flex-direction: column;
}

.meal-descr {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  margin-bottom: 30px;
  color: #808484;
  padding-right: 8px;
}
.meal-img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.price > span {
  margin-right: 20px;
}
.populaire {
  font-size: 14px;
  font-weight: 700;
  color: #ff8000;
}

.basket {
  background-color: white;
  border-radius: 8px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.basket button {
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #bac3c3;
  color: #8b9a9b;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: not-allowed;
}

.basket .active {
  background: #00cdbd;
  color: white;
  cursor: pointer;
}

.empty {
  padding: 24px;
  text-align: center;
  color: #868a8a;
}
.article {
  margin: 0 10px;
  display: flex;
  margin-bottom: 12px;
}

.detail-article {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.detail-article > span {
  width: 40%;
  text-align: right;
}

.article span {
  color: #2e3333;
}
.counter {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
}

.counter .icon {
  color: rgb(0, 206, 189);
  margin-right: 4px;
}

.counter span {
  margin-right: 4px;
  color: #808484;
}

.total,
.total-total {
  padding: 12px 0;
  border-top: 1px solid #d1d7d7;
}

.sous-total,
.total-total {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px;
}

.total-total {
  font-weight: 700;
}
