/* Other rules */

body {
  font-family: "Roboto", sans-serif;
}

header {
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.top {
  border-bottom: 1px solid rgb(233, 235, 235);
}
.top-bar {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 155px;
  height: 42px;
}

.restaurant {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.restaurant-infos {
  height: 60px;
  padding-right: 40px;
  padding-top: 20px;
}

.restaurant-text {
  font-size: 1.2rem;
  color: #868a8a;
  margin: 20px 0;
  line-height: 1.8rem;
}

.restaurant-img {
  width: 350;
  height: 198px;
  border-radius: 6px;
}

.content {
  background-color: #f3f5f5;
}

.content-sub {
  display: flex;
  width: 1200px;
  margin: 30px auto;
}

.categories {
  flex: 3.5;
  display: flex;
  flex-direction: column;
}

.basket {
  flex: 1;
  padding: 20px 0;
}
.category {
  padding: 20px 0;
}

.meals {
  display: flex;
  flex-wrap: wrap;
}

.meal {
  background-color: white;
  width: calc(45% - 20px);
  margin: 30px 30px 30px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.meal h3 {
  font-weight: 400;
  margin-bottom: 6px;
  color: #2e3333;
}

.meal-content {
  display: flex;
  flex-direction: column;
}

.meal-descr {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  margin-bottom: 30px;
  color: #808484;
  padding-right: 8px;
}
.meal-img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.price > span {
  margin-right: 20px;
}
.populaire {
  font-size: 14px;
  font-weight: 700;
  color: #ff8000;
}
