.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .top-bar {
    width: 100%;
    height: 60px;
    padding: 0 30px;
  }

  .restaurant {
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
  }

  .restaurant-infos {
    height: inherit;
    padding-right: 40px;
    padding-top: 20px;
  }

  .restaurant-img {
    display: none;
  }

  .content-sub {
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 30px;
  }

  .categories {
    flex: 2.3;
  }
}

@media (max-width: 960px) {
  .content-sub {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 10px auto;
  }

  .meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .category {
    margin: 0 auto;
    padding: 10px 0;
  }

  .meals {
    flex-wrap: nowrap;
    align-items: center;
  }

  .meal {
    width: 100%;
    margin: 10px auto;
  }

  .counter {
    width: 100px;
  }
}
